@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .wrapper {
    @apply max-w-[1300px] w-[90%] md:w-[95%] mx-auto;
  }

  .wrapper-small {
    @apply max-w-[1000px] w-[90%] md:w-[95%] mx-auto;
  }

  .typography {
    @apply prose prose-lg md:prose-xl text-gray-800 prose-headings:font-serif prose-headings:font-semibold prose-headings:leading-[1.2rem] prose-blockquote:border-stone-600 prose-blockquote:bg-stone-100 prose-blockquote:px-10 prose-blockquote:py-2;
  }

  .typography :is(ol, ul) {
    @apply list-outside pl-[revert] marker:text-[#44403c];
  }

  .side-grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
  }

  @media (min-width: 768px) {
    .side-grid {
      gap: 3rem;
      grid-template-columns: 2.5fr 1fr;
    }
  }
}

html,
body {
  height: 100%;
}

body > footer {
  position: sticky;
  top: 100vh;
}

@media (min-width: 768px) {
  .hero-section {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
}

.hero-image,
.hero-head {
  grid-row: 1 / -1;
}

.hero-head {
  grid-column: 1 / 6;
  z-index: 10;
  align-self: flex-end;
}

@media (min-width: 768px) {
  .hero-head {
    color: white;
  }
}

.hero-image {
  grid-column: 1 / -1;
  width: 100%;
}

@media (min-width: 768px) {
  .hero-image {
    filter: brightness(0.65);
    aspect-ratio: 16 / 9;
  }
}
