---
import BaseLayout from "@layouts/BaseLayout.astro";

const title = "Contact Us";
const description = "Ways to contact us";
---

<BaseLayout {title} {description}>
  <div class="typography mt-8 mx-auto">
    <h1>{title}</h1>
  </div>
</BaseLayout>
