---
const footer = [
  { text: "Privacy Policy", link: "/privacy-policy" },
  { text: "Editorial Policy", link: "/editorial-policy" },
  { text: "Sitemap", link: "/sitemap-index.xml" },
  { text: "RSS", link: "/rss" },
];
---

<footer class="bg-black/90 py-6 lg:py-8 mt-6">
  <div class="wrapper text-gray-100">
    <div class="side-grid">
      <ul class="flex gap-4 justify-center md:justify-normal">
        {
          footer.map((item) => (
            <li class="">
              <a href={item.link} class="text-lg lg:text-xl">
                {item.text}
              </a>
            </li>
          ))
        }
      </ul>
      <div class="text-lg lg:text-xl text-center md:text-right">
        Copyright © 2024 | TheLoneVoice.in
      </div>
    </div>
  </div>
</footer>
