---
import Date from "@components/Date.astro";
import { Image } from "astro:assets";

const { title, pubDate, coverImage, coverAlt } = Astro.props;
---

<section class="mt-6 md:mt-0">
  <div class="hero-head wrapper-small">
    <Date date={pubDate} class="date text-lg lg:text-2xl" />
    <h1
      class="font-serif text-3xl md:text-4xl lg:text-5xl font-bold my-4 md:mb-10"
    >
      {title}
    </h1>
  </div>
  <Image
    src={coverImage}
    alt={coverAlt}
    widths={[640, 768, 1024, 1300, 1500]}
    sizes={`(max-width: 640px) 640px, (max-width: 760px) 768px, (max-width: 1024px) 1024px, (max-width: 1300px) 1300px, (min-width: 1301px) 1500px`}
    loading={"eager"}
    fetchpriority={"high"}
    decoding={"sync"}
    class="hero-image bg-gray-800 shadow object-cover w-full"
  />
</section>
