---
import Date from "@components/Date.astro";
import { Image } from "astro:assets";

const { title, pubDate, coverImage, coverAlt } = Astro.props;
---

<section class="hero-section mt-6 md:mt-0">
  <div class="hero-head wrapper-small">
    <Date date={pubDate} class="date text-lg lg:text-2xl" />
    <h1
      class="text-3xl md:text-4xl lg:text-5xl font-serif font-semibold my-4 md:mb-10"
    >
      {title}
    </h1>
  </div>
  <Image
    src={coverImage}
    alt={coverAlt}
    widths={[350, 550, 1000, 1350]}
    sizes={`(max-width: 500px) 350px, (max-width: 768px) 550px, (max-width: 1024px) 1000px, (min-width: 1024px) 1350px`}
    loading={"eager"}
    fetchpriority={"high"}
    decoding={"sync"}
    class="hero-image bg-gray-800 shadow object-cover w-full"
  />
</section>
